@model IEnumerable<ContosoUniversity.Models.Departamento>

@{
    ViewData["Title"] = "Departamento";
}

<h1>Departamento</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presupuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presupuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador.NombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
